openapi: 3.0.1
info:
  title: CoinGecko API V3
  description: ""
  version: 3.0.0
servers:
- url: https://api.coingecko.com/api/v3
paths:
  /ping:
    get:
      tags:
      - ping
      summary: Check API server status
      description: |
        Check API server status
      responses:
        200:
          description: Status OK
          content: {}
  /simple/price:
    get:
      tags:
      - simple
      summary: Get the current price of any cryptocurrencies in any other supported
        currencies that you need.
      parameters:
      - name: ids
        in: query
        description: |-
          id of coins, comma-separated if querying more than 1 coin
          *refers to <b>`coins/list`</b>
        required: true
        schema:
          type: string
      - name: vs_currencies
        in: query
        description: |-
          vs_currency of coins, comma-separated if querying more than 1 vs_currency
          *refers to <b>`simple/supported_vs_currencies`</b>
        required: true
        schema:
          type: string
      - name: include_market_cap
        in: query
        description: '<b>true/false</b> to include market_cap, <b>default: false</b>'
        schema:
          type: string
      - name: include_24hr_vol
        in: query
        description: '<b>true/false</b> to include 24hr_vol, <b>default: false</b>'
        schema:
          type: string
      - name: include_24hr_change
        in: query
        description: '<b>true/false</b> to include 24hr_change, <b>default: false</b>'
        schema:
          type: string
      - name: include_last_updated_at
        in: query
        description: '<b>true/false</b> to include last_updated_at of price, <b>default:
          false</b>'
        schema:
          type: string
      responses:
        200:
          description: List all coins with id, name, and symbol
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'
      security: 
      - ApiKeyAuth: []
  /simple/token_price/{id}:
    get:
      tags:
      - simple
      summary: Get current price of tokens (using contract addresses) for a given
        platform in any other currency that you need.
      parameters:
      - name: id
        in: path
        description: The id of the platform issuing tokens (Only `ethereum` is supported
          for now)
        required: true
        schema:
          type: string
      - name: contract_addresses
        in: query
        description: The contract address of tokens, comma separated
        required: true
        schema:
          type: string
      - name: vs_currencies
        in: query
        description: |-
          vs_currency of coins, comma-separated if querying more than 1 vs_currency
          *refers to <b>`simple/supported_vs_currencies`</b>
        required: true
        schema:
          type: string
      - name: include_market_cap
        in: query
        description: '<b>true/false</b> to include market_cap, <b>default: false</b>'
        schema:
          type: string
      - name: include_24hr_vol
        in: query
        description: '<b>true/false</b> to include 24hr_vol, <b>default: false</b>'
        schema:
          type: string
      - name: include_24hr_change
        in: query
        description: '<b>true/false</b> to include 24hr_change, <b>default: false</b>'
        schema:
          type: string
      - name: include_last_updated_at
        in: query
        description: '<b>true/false</b> to include last_updated_at of price, <b>default:
          false</b>'
        schema:
          type: string
      responses:
        200:
          description: price(s) of cryptocurrency
          content: {}
  /simple/supported_vs_currencies:
    get:
      tags:
      - simple
      summary: Get list of supported_vs_currencies.
      responses:
        200:
          description: list of supported_vs_currencies
          content: {}
  /coins/list:
    get:
      tags:
      - coins
      summary: List all supported coins id, name and symbol (no pagination required)
      description: Use this to obtain all the coins' id in order to make API calls
      parameters:
      - name: include_platform
        in: query
        description: "flag to include platform contract addresses (eg. 0x.... for\
          \ Ethereum based tokens). \n valid values: true, false"
        schema:
          type: boolean
      responses:
        200:
          description: List all coins with id, name, and symbol
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CoinList'
      security: 
      - ApiKeyAuth: []
  /coins/markets:
    get:
      tags:
      - coins
      summary: List all supported coins price, market cap, volume, and market related
        data
      description: Use this to obtain all the coins market data (price, market cap,
        volume)
      parameters:
      - name: vs_currency
        in: query
        description: The target currency of market data (usd, eur, jpy, etc.)
        required: true
        schema:
          type: string
      - name: ids
        in: query
        description: |-
          The ids of the coin, comma separated crytocurrency symbols (base). refers to `/coins/list`.
          <b>When left empty, returns numbers the coins observing the params `limit` and `start`</b>
        schema:
          type: string
      - name: category
        in: query
        description: filter by coin category, only decentralized_finance_defi and
          stablecoins are supported at the moment
        schema:
          type: string
      - name: order
        in: query
        description: |-
          valid values: <b>market_cap_desc, gecko_desc, gecko_asc, market_cap_asc, market_cap_desc, volume_asc, volume_desc, id_asc, id_desc</b>
          sort results by field.
        schema:
          type: string
          default: market_cap_desc
      - name: per_page
        in: query
        description: |-
          valid values: 1..250
           Total results per page
        schema:
          type: integer
          default: 100
      - name: page
        in: query
        description: Page through results
        schema:
          type: integer
          default: 1
      - name: sparkline
        in: query
        description: Include sparkline 7 days data (eg. true, false)
        schema:
          type: boolean
          default: false
      - name: price_change_percentage
        in: query
        description: Include price change percentage in <b>1h, 24h, 7d, 14d, 30d,
          200d, 1y</b> (eg. '`1h,24h,7d`' comma-separated, invalid values will be
          discarded)
        schema:
          type: string
      responses:
        200:
          description: List all coins with market data
          content: {}
  /coins/{id}:
    get:
      tags:
      - coins
      summary: Get current data (name, price, market, ... including exchange tickers)
        for a coin
      description: |
        Get current data (name, price, market, ... including exchange tickers) for a coin.<br><br> **IMPORTANT**:
         Ticker object is limited to 100 items, to get more tickers, use `/coins/{id}/tickers`
         Ticker `is_stale` is true when ticker that has not been updated/unchanged from the exchange for a while.
         Ticker `is_anomaly` is true if ticker's price is outliered by our system.
         You are responsible for managing how you want to display these information (e.g. footnote, different background, change opacity, hide)
      parameters:
      - name: id
        in: path
        description: pass the coin id (can be obtained from /coins) eg. bitcoin
        required: true
        schema:
          type: string
      - name: localization
        in: query
        description: 'Include all localized languages in response (true/false) <b>[default:
          true]</b>'
        schema:
          type: string
      - name: tickers
        in: query
        description: 'Include tickers data (true/false) <b>[default: true]</b>'
        schema:
          type: boolean
      - name: market_data
        in: query
        description: 'Include market_data (true/false) <b>[default: true]</b>'
        schema:
          type: boolean
      - name: community_data
        in: query
        description: 'Include community_data data (true/false) <b>[default: true]</b>'
        schema:
          type: boolean
      - name: developer_data
        in: query
        description: 'Include developer_data data (true/false) <b>[default: true]</b>'
        schema:
          type: boolean
      - name: sparkline
        in: query
        description: 'Include sparkline 7 days data (eg. true, false) <b>[default:
          false]</b>'
        schema:
          type: boolean
      responses:
        200:
          description: Get current data for a coin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinFullData'
  /coins/{id}/tickers:
    get:
      tags:
      - coins
      summary: Get coin tickers (paginated to 100 items)
      description: |
        Get coin tickers (paginated to 100 items)<br><br> **IMPORTANT**:
         Ticker `is_stale` is true when ticker that has not been updated/unchanged from the exchange for a while.
         Ticker `is_anomaly` is true if ticker's price is outliered by our system.
         You are responsible for managing how you want to display these information (e.g. footnote, different background, change opacity, hide)
      parameters:
      - name: id
        in: path
        description: pass the coin id (can be obtained from /coins/list) eg. bitcoin
        required: true
        schema:
          type: string
      - name: exchange_ids
        in: query
        description: 'filter results by exchange_ids (ref: v3/exchanges/list)'
        schema:
          type: string
      - name: include_exchange_logo
        in: query
        description: flag to show exchange_logo
        schema:
          type: string
      - name: page
        in: query
        description: Page through results
        schema:
          type: integer
      - name: order
        in: query
        description: 'valid values: <b>trust_score_desc (default), trust_score_asc
          and volume_desc</b>'
        schema:
          type: string
      - name: depth
        in: query
        description: 'flag to show 2% orderbook depth. valid values: true, false'
        schema:
          type: string
      responses:
        200:
          description: Get coin tickers
          content: {}
  /coins/{id}/history:
    get:
      tags:
      - coins
      summary: Get historical data (name, price, market, stats) at a given date for
        a coin
      description: |
        Get historical data (name, price, market, stats) at a given date for a coin
      parameters:
      - name: id
        in: path
        description: pass the coin id (can be obtained from /coins) eg. bitcoin
        required: true
        schema:
          type: string
      - name: date
        in: query
        description: The date of data snapshot in dd-mm-yyyy eg. 30-12-2017
        required: true
        schema:
          type: string
      - name: localization
        in: query
        description: Set to false to exclude localized languages in response
        schema:
          type: string
      responses:
        200:
          description: Get historical data at a given date for a coin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinData'
  /coins/{id}/market_chart:
    get:
      tags:
      - coins
      summary: Get historical market data include price, market cap, and 24h volume
        (granularity auto)
      description: |-
        Get historical market data include price, market cap, and 24h volume (granularity auto)
         <b>Minutely data will be used for duration within 1 day, Hourly data will be used for duration between 1 day and 90 days, Daily data will be used for duration above 90 days.</b>
      parameters:
      - name: id
        in: path
        description: pass the coin id (can be obtained from /coins) eg. bitcoin
        required: true
        schema:
          type: string
      - name: vs_currency
        in: query
        description: The target currency of market data (usd, eur, jpy, etc.)
        required: true
        schema:
          type: string
      - name: days
        in: query
        description: Data up to number of days ago (eg. 1,14,30,max)
        required: true
        schema:
          type: string
      - name: interval
        in: query
        description: 'Data interval. Possible value: daily'
        schema:
          type: string
      responses:
        200:
          description: Get historical market data include price, market cap, and 24h
            volume
          content: {}
  /coins/{id}/market_chart/range:
    get:
      tags:
      - coins
      summary: Get historical market data include price, market cap, and 24h volume
        within a range of timestamp (granularity auto)
      description: |-
        Get historical market data include price, market cap, and 24h volume within a range of timestamp (granularity auto)
         <b>Minutely data will be used for duration within 1 day, Hourly data will be used for duration between 1 day and 90 days, Daily data will be used for duration above 90 days.</b>
      parameters:
      - name: id
        in: path
        description: pass the coin id (can be obtained from /coins) eg. bitcoin
        required: true
        schema:
          type: string
      - name: vs_currency
        in: query
        description: The target currency of market data (usd, eur, jpy, etc.)
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: From date in UNIX Timestamp (eg. 1392577232)
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: To date in UNIX Timestamp (eg. 1422577232)
        required: true
        schema:
          type: string
      responses:
        200:
          description: Get historical market data include price, market cap, and 24h
            volume
          content: {}
  /coins/{id}/status_updates:
    get:
      tags:
      - coins
      summary: Get status updates for a given coin
      description: Get status updates for a given coin
      parameters:
      - name: id
        in: path
        description: pass the coin id (can be obtained from /coins) eg. bitcoin
        required: true
        schema:
          type: string
      - name: per_page
        in: query
        description: Total results per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page through results
        schema:
          type: integer
      responses:
        200:
          description: Get paginated status updates for a given coin
          content: {}
  /coins/{id}/contract/{contract_address}:
    get:
      tags:
      - contract
      summary: Get coin info from contract address
      description: Get coin info from contract address
      parameters:
      - name: id
        in: path
        description: Asset platform (only `ethereum` is supported at this moment)
        required: true
        schema:
          type: string
      - name: contract_address
        in: path
        description: Token's contract address
        required: true
        schema:
          type: string
      responses:
        200:
          description: Get current data for a coin
          content: {}
  /coins/{id}/contract/{contract_address}/market_chart/:
    get:
      tags:
      - contract
      summary: 'Get historical market data include price, market cap, and 24h volume
        (granularity auto) from a contract address '
      description: |
        Get historical market data include price, market cap, and 24h volume (granularity auto)
      parameters:
      - name: id
        in: path
        description: The id of the platform issuing tokens (Only `ethereum` is supported
          for now)
        required: true
        schema:
          type: string
      - name: contract_address
        in: path
        description: Token's contract address
        required: true
        schema:
          type: string
      - name: vs_currency
        in: query
        description: The target currency of market data (usd, eur, jpy, etc.)
        required: true
        schema:
          type: string
      - name: days
        in: query
        description: Data up to number of days ago (eg. 1,14,30,max)
        required: true
        schema:
          type: string
      responses:
        200:
          description: Get historical market data include price, market cap, and 24h
            volume
          content: {}
  /coins/{id}/contract/{contract_address}/market_chart/range:
    get:
      tags:
      - contract
      summary: Get historical market data include price, market cap, and 24h volume
        within a range of timestamp (granularity auto) from a contract address
      description: |
        Get historical market data include price, market cap, and 24h volume within a range of timestamp (granularity auto)
      parameters:
      - name: id
        in: path
        description: The id of the platform issuing tokens (Only `ethereum` is supported
          for now)
        required: true
        schema:
          type: string
      - name: contract_address
        in: path
        description: Token's contract address
        required: true
        schema:
          type: string
      - name: vs_currency
        in: query
        description: The target currency of market data (usd, eur, jpy, etc.)
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: From date in UNIX Timestamp (eg. 1392577232)
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: To date in UNIX Timestamp (eg. 1422577232)
        required: true
        schema:
          type: string
      responses:
        200:
          description: Get historical market data include price, market cap, and 24h
            volume
          content: {}
  /coins/{id}/ohlc:
    get:
      tags:
      - coins
      summary: Get coin's OHLC (Beta)
      description: |-
        Candle's body:

        1 - 2 days: 30 minutes
        3 - 30 days: 4 hours
        31 and before: 4 days
      parameters:
      - name: id
        in: path
        description: pass the coin id (can be obtained from /coins/list) eg. bitcoin
        required: true
        schema:
          type: string
      - name: vs_currency
        in: query
        description: The target currency of market data (usd, eur, jpy, etc.)
        required: true
        schema:
          type: string
      - name: days
        in: query
        description: ' Data up to number of days ago (1/7/14/30/90/180/365/max)'
        required: true
        schema:
          type: integer
      responses:
        200:
          description: |-
            successful operation

            [
            1594382400000 (time),
            1.1 (open),
             2.2 (high),
             3.3 (low),
             4.4 (close)
            ]
          content:
            application/json:
              schema:
                type: array
                items:
                  type: number
  /exchanges:
    get:
      tags:
      - exchanges
      summary: List all exchanges
      description: List all exchanges
      parameters:
      - name: per_page
        in: query
        description: |-
          Valid values: 1...250
          Total results per page
          Default value:: 100
        schema:
          type: integer
      - name: page
        in: query
        description: page through results
        schema:
          type: string
      responses:
        200:
          description: List all exchanges
          content: {}
  /exchanges/list:
    get:
      tags:
      - exchanges
      summary: List all supported markets id and name (no pagination required)
      description: Use this to obtain all the markets' id in order to make API calls
      responses:
        200:
          description: List all coins with id and name
          content: {}
  /exchanges/{id}:
    get:
      tags:
      - exchanges
      summary: Get exchange volume in BTC and top 100 tickers only
      description: |
        Get exchange volume in BTC and tickers<br><br> **IMPORTANT**:
         Ticker object is limited to 100 items, to get more tickers, use `/exchanges/{id}/tickers`
         Ticker `is_stale` is true when ticker that has not been updated/unchanged from the exchange for a while.
         Ticker `is_anomaly` is true if ticker's price is outliered by our system.
         You are responsible for managing how you want to display these information (e.g. footnote, different background, change opacity, hide)
      parameters:
      - name: id
        in: path
        description: pass the exchange id (can be obtained from /exchanges/list) eg.
          binance
        required: true
        schema:
          type: string
      responses:
        200:
          description: Get exchange volume in BTC and top 100 tickers
          content: {}
  /exchanges/{id}/tickers:
    get:
      tags:
      - exchanges
      summary: Get exchange tickers (paginated, 100 tickers per page)
      description: |
        Get exchange tickers (paginated)<br><br> **IMPORTANT**:
         Ticker `is_stale` is true when ticker that has not been updated/unchanged from the exchange for a while.
         Ticker `is_anomaly` is true if ticker's price is outliered by our system.
         You are responsible for managing how you want to display these information (e.g. footnote, different background, change opacity, hide)
      parameters:
      - name: id
        in: path
        description: pass the exchange id (can be obtained from /exchanges/list) eg.
          binance
        required: true
        schema:
          type: string
      - name: coin_ids
        in: query
        description: 'filter tickers by coin_ids (ref: v3/coins/list)'
        schema:
          type: string
      - name: include_exchange_logo
        in: query
        description: flag to show exchange_logo
        schema:
          type: string
      - name: page
        in: query
        description: Page through results
        schema:
          type: integer
      - name: depth
        in: query
        description: flag to show 2% orderbook depth i.e., cost_to_move_up_usd and
          cost_to_move_down_usd
        schema:
          type: string
      - name: order
        in: query
        description: 'valid values: <b>trust_score_desc (default), trust_score_asc
          and volume_desc</b>'
        schema:
          type: string
      responses:
        200:
          description: Get exchange tickers
          content: {}
  /finance_platforms:
    get:
      tags:
      - finance
      summary: List all finance platforms
      description: List all finance platforms
      parameters:
      - name: per_page
        in: query
        description: Total results per page
        schema:
          type: integer
      - name: page
        in: path
        description: page of results (paginated to 100 by default)
        required: true
        schema:
          type: string
      responses:
        200:
          description: List all finance platforms
          content: {}
  /finance_products:
    get:
      tags:
      - finance
      summary: List all finance products
      description: List all finance products
      parameters:
      - name: per_page
        in: query
        description: Total results per page
        schema:
          type: integer
      - name: page
        in: path
        description: page of results (paginated to 100 by default)
        required: true
        schema:
          type: string
      - name: start_at
        in: path
        description: start date of the financial products
        required: true
        schema:
          type: string
      - name: end_at
        in: path
        description: end date of the financial products
        required: true
        schema:
          type: string
      responses:
        200:
          description: List all finance products
          content: {}
  /indexes:
    get:
      tags:
      - indexes
      summary: List all market indexes
      description: List all market indexes
      parameters:
      - name: per_page
        in: query
        description: Total results per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page through results
        schema:
          type: integer
      responses:
        200:
          description: List all market indexes
          content: {}
  /indexes/{market_id}/{id}:
    get:
      tags:
      - indexes
      summary: get market index by market id and index id
      description: get market index by market id and index id
      parameters:
      - name: market_id
        in: query
        description: pass the market id (can be obtained from /exchanges/list)
        required: true
        schema:
          type: string
      - name: id
        in: query
        description: pass the index id (can be obtained from /indexes/list)
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: pass the index id (can be obtained from /indexes/list)
        required: true
        schema:
          type: string
      responses:
        200:
          description: get market index by market id and index id
          content: {}
  /indexes/list:
    get:
      tags:
      - indexes
      summary: list market indexes id and name
      description: list market indexes id and name
      responses:
        200:
          description: list market indexes id and name
          content: {}
  /indexes/list_by_market_and_id/{market_id}/{id}:
    get:
      tags:
      - indexes
      summary: get market index by market id and market index id
      description: get market index by market id and market index id
      parameters:
      - name: market_id
        in: query
        description: pass the market id (can be obtained from /exchanges/list)
        required: true
        schema:
          type: string
      - name: id
        in: query
        description: pass the index id (can be obtained from /indexes/list)
        required: true
        schema:
          type: string
      responses:
        200:
          description: get market index by id and market id
          content: {}
  /derivatives:
    get:
      tags:
      - derivatives
      summary: List all derivative tickers
      description: List all derivative tickers
      parameters:
      - name: include_tickers
        in: query
        description: '[''all'', ''unexpired''] - expired to show unexpired tickers,
          all to list all tickers, defaults to unexpired'
        schema:
          type: string
      responses:
        200:
          description: List all derivative tickers
          content: {}
  /derivatives/exchanges:
    get:
      tags:
      - derivatives
      summary: List all derivative exchanges
      description: List all derivative exchanges
      parameters:
      - name: order
        in: query
        description: order results using following params name_asc，name_desc，open_interest_btc_asc，open_interest_btc_desc，trade_volume_24h_btc_asc，trade_volume_24h_btc_desc
        schema:
          type: string
      - name: per_page
        in: query
        description: Total results per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page through results
        schema:
          type: integer
      responses:
        200:
          description: List all derivative exchanges
          content: {}
  /derivatives/exchanges/{id}:
    get:
      tags:
      - derivatives
      summary: show derivative exchange data
      description: show derivative exchange data
      parameters:
      - name: id
        in: path
        description: pass the exchange id (can be obtained from derivatives/exchanges/list)
          eg. bitmex
        required: true
        schema:
          type: string
      - name: include_tickers
        in: query
        description: '[''all'', ''unexpired''] - expired to show unexpired tickers,
          all to list all tickers, leave blank to omit tickers data in response'
        schema:
          type: string
      responses:
        200:
          description: show derivative exchange data
          content: {}
  /derivatives/exchanges/list:
    get:
      tags:
      - derivatives
      summary: List all derivative exchanges name and identifier
      description: List all derivative exchanges name and identifier
      responses:
        200:
          description: List all derivative exchanges name and identifier
          content: {}
  /exchanges/{id}/status_updates:
    get:
      tags:
      - exchanges
      summary: Get status updates for a given exchange
      description: Get status updates for a given exchange
      parameters:
      - name: id
        in: path
        description: pass the exchange id (can be obtained from /exchanges/list) eg.
          binance
        required: true
        schema:
          type: string
      - name: per_page
        in: query
        description: Total results per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page through results
        schema:
          type: integer
      responses:
        200:
          description: Get paginated status updates for a given coin
          content: {}
  /exchanges/{id}/volume_chart:
    get:
      tags:
      - exchanges
      summary: Get volume_chart data for a given exchange
      description: Get volume_chart data for a given exchange
      parameters:
      - name: id
        in: path
        description: pass the exchange id (can be obtained from /exchanges/list) eg.
          binance
        required: true
        schema:
          type: string
      - name: days
        in: query
        description: ' Data up to number of days ago (eg. 1,14,30)'
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Get exchange volume_chart data
          content: {}
  /status_updates:
    get:
      tags:
      - status_updates
      summary: List all status_updates with data (description, category, created_at,
        user, user_title and pin)
      description: |
        List all status_updates with data (description, category, created_at, user, user_title and pin)
      parameters:
      - name: category
        in: query
        description: Filtered by category (eg. general, milestone, partnership, exchange_listing,
          software_release, fund_movement, new_listings, event)
        schema:
          type: string
      - name: project_type
        in: query
        description: Filtered by Project Type (eg. coin, market). If left empty returns
          both status from coins and markets.
        schema:
          type: string
      - name: per_page
        in: query
        description: Total results per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page through results
        schema:
          type: integer
      responses:
        200:
          description: List all status_updates with data
          content: {}
  /events:
    get:
      tags:
      - events
      summary: Get events, paginated by 100
      description: |
        Get events, paginated by 100
      parameters:
      - name: country_code
        in: query
        description: country_code of event (eg. 'US'). use <b>/api/v3/events/countries</b>
          for list of country_codes
        schema:
          type: string
      - name: type
        in: query
        description: type of event (eg. 'Conference'). use <b>/api/v3/events/types</b>
          for list of types
        schema:
          type: string
      - name: page
        in: query
        description: page of results (paginated by 100)
        schema:
          type: string
      - name: upcoming_events_only
        in: query
        description: lists only upcoming events. <br>true, false</br> (defaults to
          true, set to false to list all events)
        schema:
          type: string
      - name: from_date
        in: query
        description: lists events after this date yyyy-mm-dd
        schema:
          type: string
      - name: to_date
        in: query
        description: lists events before this date yyyy-mm-dd (set upcoming_events_only
          to false if fetching past events)
        schema:
          type: string
      responses:
        200:
          description: List events
          content: {}
  /events/countries:
    get:
      tags:
      - events
      summary: Get list of event countries
      description: |
        Get list of event countries
      responses:
        200:
          description: List event countries
          content: {}
  /events/types:
    get:
      tags:
      - events
      summary: Get list of events types
      description: |
        Get list of event types
      responses:
        200:
          description: List event types
          content: {}
  /exchange_rates:
    get:
      tags:
      - exchange_rates
      summary: Get BTC-to-Currency exchange rates
      description: |
        Get BTC-to-Currency exchange rates
      responses:
        200:
          description: List rates
          content: {}
  /search/trending:
    get:
      tags:
      - trending
      summary: Get trending search coins (Top-7) on CoinGecko in the last 24 hours
      description: Top-7 trending coins on CoinGecko as searched by users in the last
        24 hours (Ordered by most popular first)
      responses:
        200:
          description: List trending coins by most popular first
          content: {}
  /global:
    get:
      tags:
      - global
      summary: Get cryptocurrency global data
      description: |
        Get cryptocurrency global data
      responses:
        200:
          description: Get global data - total_volume, total_market_cap, ongoing icos
            etc
          content: {}
  /global/decentralized_finance_defi:
    get:
      tags:
      - global
      summary: Get cryptocurrency global decentralized finance(defi) data
      description: |
        Get Top 100 Cryptocurrency Global Eecentralized Finance(defi) data
      responses:
        200:
          description: defi_market_cap to total_market_cap ratio
          content: {}

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
  schemas:
        Price:
            type: object
            additionalProperties:
                type: object
                additionalProperties:
                    type: number
                    format: decimal
                    nullable: true
        CoinList:
            type: object
            properties:
                id:
                    type: string
                symbol:
                    type: string
                name:
                    type: string
        CoinData:
            type: object
            properties:
                id:
                    type: string
                symbol:
                    type: string
                name:
                    type: string
                localization:
                    type: object
                    nullable: true
                    additionalProperties:
                        type: string
                image:
                    type: object
                    properties:
                        thumb:
                            type: string
                        small:
                            type: string
                        large:
                            type: string
                            nullable: true
                market_data:
                    type: object
                    nullable: true
                    properties:
                        current_price:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        ath:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        ath_change_percentage:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        ath_date:
                            type: datetime
                        atl:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        atl_change_percentage:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        atl_date:
                            type: datetime
                        market_cap:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        total_volume:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        high_24h:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        low_24h:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        price_change_24h_in_currency:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        price_change_percentage_1h_in_currency:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        price_change_percentage_24h_in_currency:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        price_change_percentage_7d_in_currency:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        price_change_percentage_14d_in_currency:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        price_change_percentage_30d_in_currency:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        price_change_percentage_60d_in_currency:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        price_change_percentage_200d_in_currency:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        price_change_percentage_1y_in_currency:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        market_cap_change_24h_in_currency:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        market_cap_change_percentage_24h_in_currency:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        total_supply:
                            type: number
                            format: decimal
                            nullable: true
                        max_supply:
                            type: number
                            format: decimal
                            nullable: true
                        circulating_supply:
                            type: number
                            format: decimal
                            nullable: true
                        last_updated:
                            type: datetime
                        total_value_locked:
                            type: number
                            format: decimal
                            nullable: true
                        mcap_to_tvl_ratio:
                            type: number
                            format: decimal
                            nullable: true
                        fdv_to_tvl_ratio:
                            type: number
                            format: decimal
                            nullable: true
                        market_cap_rank:
                            type: number
                            format: decimal
                            nullable: true
                        fully_diluted_valuation:
                            type: object
                            nullable: true
                            additionalProperties:
                                type: number
                                format: decimal
                                nullable: true
                        price_change_24h:
                            type: number
                            format: decimal
                        price_change_percentage_24h:
                            type: number
                            format: decimal
                        price_change_percentage_7d:
                            type: number
                            format: decimal
                        price_change_percentage_14d:
                            type: number
                            format: decimal
                        price_change_percentage_30d:
                            type: number
                            format: decimal
                        price_change_percentage_60d:
                            type: number
                            format: decimal
                        price_change_percentage_200d:
                            type: number
                            format: decimal
                        price_change_percentage_1y:
                            type: number
                            format: decimal
                        market_cap_change_24h:
                            type: number
                            format: decimal
                        market_cap_change_percentage_24h:
                            type: number
                            format: decimal
                        roi:
                            type: object
                            properties:
                                times:
                                    type: number
                                    format: decimal
                                    nullable: true
                                currency:
                                    type: string
                                percentage:
                                    type: number
                                    format: decimal
                                    nullable: true
                community_data:
                    type: object
                    nullable: true
                    properties:
                        telegram_channel_user_count:
                            type: number
                            nullable: true
                        facebook_likes:
                            type: number
                            nullable: true
                        twitter_followers:
                            type: number
                            nullable: true
                        reddit_average_posts_48h:
                            type: number
                            nullable: true
                        reddit_average_comments_48h:
                            type: number
                            nullable: true
                        reddit_subscribers:
                            type: number
                            nullable: true
                        reddit_accounts_active_48h:
                            type: number
                            nullable: true
                developer_data:
                    type: object
                    nullable: true
                    properties:
                        forks:
                            type: number
                            nullable: true
                        stars:
                            type: number
                            nullable: true
                        subscribers:
                            type: number
                            nullable: true
                        total_issues:
                            type: number
                            nullable: true
                        closed_issues:
                            type: number
                            nullable: true
                        pull_requests_merged:
                            type: number
                            nullable: true
                        pull_request_contributors:
                            type: number
                            nullable: true
                        code_additions_deletions_4_weeks:
                            type: object
                            nullable: true
                            properties:
                                additions:
                                    type: number
                                    nullable: true
                                deletions:
                                    type: number
                                    nullable: true
                        commit_count_4_weeks:
                            type: number
                            nullable: true
                        last_4_weeks_commit_activity_series:
                            type: object
                            nullable: true
                            items:
                                type: string
                public_interest_stats:
                    type: object
                    nullable: true
                    properties:
                        alexa_rank:
                            type: number
                            format: double
                            nullable: true
                        bing_matches:
                            type: number
                            format: double
                            nullable: true
        CoinFullData:
            allOf:
            -   $ref: '#/components/schemas/CoinData'
            -   type: object
                properties:
                    asset_platform_id:
                        type: string
                        nullable: true
                    platforms:
                        type: object
                        nullable: true
                        additionalProperties:
                            type: string
                    block_time_in_minutes:
                        type: number
                    hashing_algorithm:
                        type: string
                    categories:
                        type: array
                        nullable: true
                        items:
                            type: string
                    public_notice:
                        type: string
                        nullable: true
                    status_updates:
                        type: array
                        nullable: true
                        items:
                            type: object
                    tickers:
                        type: array
                        nullable: true
                        items:
                            type: object
                            properties:
                                base:
                                    type: string
                                target:
                                    type: string
                                market:
                                    type: object
                                    properties:
                                        name:
                                            type: string
                                        identifier:
                                            type: string
                                        has_trading_incentive:
                                            type: boolean
                                last:
                                    type: number
                                    format: double
                                volume:
                                    type: number
                                    format: decimal
                                converted_last:
                                    type: object
                                    properties:
                                        btc:
                                            type: number
                                            format: decimal
                                        eth:
                                            type: number
                                            format: decimal
                                        usd:
                                            type: number
                                            format: decimal
                                converted_volume:
                                    type: object
                                    properties:
                                        btc:
                                            type: number
                                            format: decimal
                                        eth:
                                            type: number
                                            format: decimal
                                        usd:
                                            type: number
                                            format: decimal
                                trust_score:
                                    type: string
                                    nullable: true
                                bid_ask_spread_percentage:
                                    type: number
                                    format: decimal
                                timestamp:
                                    type: datetime
                                last_traded_at:
                                    type: datetime
                                last_fetch_at:
                                    type: datetime
                                is_anomaly:
                                    type: boolean
                                is_stale:
                                    type: boolean
                                trade_url:
                                    type: string
                                token_info_url:
                                    type: string
                                    nullable: true
                                coin_id:
                                    type: string
                                target_coin_id:
                                    type: string
                    last_updated:
                        type: datetime
                        nullable: true
                    additional_notices:
                        type: array
                        nullable: true
                        items:
                            type: string
                    description:
                        type: object
                        nullable: true
                        additionalProperties:
                            type: string
                    links:
                        type: object
                        properties:
                            homepage:
                                type: array
                                nullable: null
                                items:
                                    type: string
                            blockchain_site:
                                type: array
                                nullable: null
                                items:
                                    type: string
                            official_forum_url:
                                type: array
                                nullable: null
                                items:
                                    type: string
                            chat_url:
                                type: array
                                nullable: null
                                items:
                                    type: string
                            announcement_url:
                                type: array
                                nullable: null
                                items:
                                    type: string
                            twitter_screen_name:
                                type: string
                            facebook_username:
                                type: string
                            bitcointalk_thread_identifier:
                                type: number
                            telegram_channel_identifier:
                                type: string
                            subreddit_url:
                                type: string
                                nullable: true
                            repos_url:
                                type: object
                                nullable: true
                                properties:
                                    github:
                                        type: array
                                        items:
                                            type: string
                                    bitbucket:
                                        type: array
                                        items:
                                            type: string
                    country_origin:
                        type: string
                    genesis_date:
                        type: string
                    sentiment_votes_up_percentage:
                        type: number
                        format: decimal
                        nullable: true
                    sentiment_votes_down_percentage:
                        type: number
                        format: decimal
                        nullable: true
                    ico_data:
                        type: object
                        nullable: true
                        properties:
                            ico_start_date:
                                type: datetime
                            ico_end_date:
                                type: datetime
                            short_desc:
                                type: string
                            description:
                                type: string
                                nullable: true
                            links:
                                type: object
                            softcap_currency:
                                type: string
                            hardcap_currency:
                                type: string
                            total_raised_currency:
                                type: string
                            softcap_amount:
                                type: decimal
                                nullable: true
                            hardcap_amount:
                                type: decimal
                                nullable: true
                            total_raised:
                                type: decimal
                                nullable: true
                            quote_pre_sale_currency:
                                type: string
                                nullable: true
                            base_pre_sale_amount:
                                type: decimal
                                nullable: true
                            quote_pre_sale_amount:
                                type: decimal
                                nullable: true
                            quote_public_sale_currency:
                                type: string
                            base_public_sale_amount:
                                type: decimal
                            quote_public_sale_amount:
                                type: decimal
                            accepting_currencies:
                                type: string
                            country_origin:
                                type: string
                            pre_sale_start_date:
                                type: datetime
                                nullable: true
                            pre_sale_end_date:
                                type: datetime
                                nullable: true
                            whitelist_url:
                                type: string
                                nullable: true
                            whitelist_start_date:
                                type: datetime
                                nullable: true
                            whitelist_end_date:
                                type: datetime
                                nullable: true
                            whitelist_available:
                                type: string
                                nullable: true
                            bounty_detail_url:
                                type: string
                            amount_for_sale:
                                type: number
                                format: decimal
                                nullable: true
                            kyc_required:
                                type: boolean
                            pre_sale_available:
                                type: string
                                nullable: true
                            pre_sale_ended:
                                type: boolean
                    market_cap_rank:
                        type: number
                        format: decimal
                        nullable: true
                    coingecko_rank:
                        type: number
                        format: decimal
                        nullable: true
                    coingecko_score:
                        type: number
                        format: decimal
                    developer_score:
                        type: number
                        format: decimal
                    community_score:
                        type: number
                        format: decimal
                    liquidity_score:
                        type: number
                        format: decimal
                    public_interest_score:
                        type: number
                        format: decimal